html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.maonu {
  position: absolute;
  top: 50%;
  left: 200px;
  margin-top: -300px;
  
  width: 320px;
  height: 600px;
  padding: 15px 20px;
  box-sizing: border-box;
  background-image: url("../images/iphonex.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.footer-gradient {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 14px;
  z-index: 100;
  border-bottom-left-radius: 53px;
  border-bottom-right-radius: 53px;
}


.iphone {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 26px;
  overflow: hidden;
}

.swiper-container {
  background-color: #000;
}

.swiper-container,.swiper-slide{
	height:100%;
}
.swiper-slide {
	  overflow:hidden;
}
.swiper-slide img{
	width:100%;
	height:100%;
}
