@charset "utf-8"

html {
	font: 12px '宋体';
}
.top {
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #d8d8d8;
}
a {
	color: #000;
}
.top_page {
	width: 970px;
	height: 26px;
	margin: 0 auto;
}
.top_page_l {
	/*float: left;*/
	line-height: 26px;
}
.top_page_r ul li{
	/*float: right;*/
	line-height: 26px;
	float: left;
	padding-right: 10px;
}
.top_page_r ul li s {
	width: 14px;
	height: 12px;
	background: url(../image/sprite.png);
	display: inline-block;
	vertical-align: middle;
}
.logo {
	width: 970px;
	height: 98px;
	/*background-color: red;*/
	margin: 0  auto;
}
.logo_l {
	width: 
}