html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";
}

.maonu {
  position: absolute;
  top: 50%;
  left: 200px;
  margin-top: -300px;
  
  width: 320px;
  height: 600px;
  padding: 15px 20px;
  box-sizing: border-box;
  background-image: url("../images/iphonex.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  z-index: 2;
}

.footer-gradient {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  z-index: 2;
  
}


.iphone {
  position: absolute;
  width: 280px;
  height: 570px;
  margin: 0 auto;
  border-radius: 26px;
  overflow: hidden;
  background-color: red;

}

.iphone h1 {
  margin: 0;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  font-weight: normal;
  background-color: #000;
  color: #fff;
}

.iphone .extra {
  position: absolute;
  width: 100%;
  height: 56px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;

}
.iphone .author {
  float: left;
  width: 32px;
  height: 32px;
  background-image: url("../images/xiaoxin.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.iphone .audio-btn {
  float: right;
  width: 28px;
  height: 28px;
  background-image: url("../images/audio.png");
  background-position: center center;
  background-size: cover;
}

.audio-btn.play {
  /* 动画 让cd图标进行旋转 */
  animation: rotateAudio 2s linear infinite;
}


/* 让cd图标从0deg旋转到360deg */
@keyframes rotateAudio {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iphone .menu {
  position: absolute;
  bottom: 36px;
  left: 0;
  z-index: 3;
}

.iphone .menu .menu-top {
  font-size: 12px;
  color: #fff;
  margin-left: 15px;
}

.iphone .menu-top .date {
  margin-left: 20px;
}


.iphone .menu-bottom .danmu {
  position: absolute;
  left: 18px;
  width: 23px;
  height: 23px;
  background-image: url("../images/danmu.svg");
  background-size: 23px 23px;
}

.iphone .menu-bottom .heart {
  position: absolute;
  top: 41px;
  left: 80px;
  width: 23px;
  height: 20px;
  background-image: url("../images/heart.svg");
  background-size: 23px 20px;
}

.iphone .menu-bottom .sort {
  position: absolute;
  top: 43px;
  left: 136px;
  width: 19px;
  height: 13px;
  background-image: url("../images/sort.svg");
  background-size: 19px 13px;
}

.iphone .menu-bottom .sort b {
  position: absolute;
  top: -11px;
  right: -15px;
  width: 22px;
  height: 13px;
  background-color: rgb(255, 57, 105);
  font-size: 12px;
  font-weight: normal;
  font-style:normal;
  color: #fff;
  border-radius: 10px;
  line-height: 13px;

  /* 让文字自动出现省略号 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iphone .menu-bottom  .create-btn {
  text-decoration: none;
  position: absolute;
  bottom: -23px;
  right: -28px;
  width: 78px;
  height: 28px;
  box-sizing: border-box;
  line-height: 28px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 14px;
}


.swiper-container {
  background-color: #000;
}

.swiper-container,.swiper-slide{
	height:100%;
}
.swiper-slide {
	  overflow:hidden;
}
.swiper-slide img{
	width:100%;
	height:100%;
}




/* 第一屏 */
.swiper-slide:nth-child(1) {
  background-color: rgb(233, 233, 233);
}

.swiper-slide:nth-child(1) .img-box {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.swiper-slide:nth-child(1) .img-box img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.swiper-slide:nth-child(1) .font-maonu {
  position: absolute;
  top: 330px;
  left: 50%;
  margin-left: -53px;
  text-align: center;
}

.swiper-slide:nth-child(1) .font-baicha {
  position: absolute;
  top: 391px;
  left: 50%;
  margin-left: -64px;
  width: 128px;

}